swagger: '2.0'
info:
  version: 1.0.0
  title: Angelcam API
  description: tbd

host: api.angelcam.com
basePath: /v1

schemes:
  - https
consumes:
  - application/json
produces:
  - application/json

tags:
  - name: user
    description: User resource
  - name: camera
    description: Camera resource
  - name: recording
    description: Recording resource
  - name: event
    description: Event resource

# DapperDox: use endpoint summary instead of HTTP method name
x-navigateMethodsByName: true

securityDefinitions:
  OAuth2:
    type: oauth2
    flow: accessCode
    authorizationUrl: https://api.test.angelcam.com/oauth/authorize/
    tokenUrl: https://api.test.angelcam.com/oauth/token/
    scopes:
      read: API supports read only operations

security:
  - OAuth2: [read]

paths:
  /me/:
    get:
      summary: Current user info
      tags:
        - user
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/UserMeResponse'
        '401':
          $ref: '#/responses/Error401Unauthorized'
  '/cameras/':
    get:
      summary: Retrieve camera list
      tags:
      - camera
      parameters:
        - name: limit
          in: query
          type: integer
          minimum: 1
          required: false
          description: 'Limit result set. Example: `1`.'
        - name: offset
          in: query
          type: integer
          minimum: 1
          required: false
          description: 'Return results starting at `offset`. Example: `10`.'
        - name: refresh_rate
          in: query
          type: number
          format: float
          minimum: 0
          required: false
          description: 'Set a maximum number of keyframes sent in MJPEG stream per second. For example if you want to
           have MJPEG stream with keyframe sent every 10 seconds, post value 0.1.'
        - name: max_width
          in: query
          type: integer
          minimum: 1
          required: false
          description: 'Maximum width of MJPEG stream and LIVE SNAPSHOT.'
        - name: max_height
          in: query
          type: integer
          minimum: 1
          required: false
          description: 'Maximum height of MJPEG stream and LIVE SNAPSHOT.'
      responses:
        '200':
          description: Returns camera list.
          schema:
            $ref: '#/definitions/CameraListResponse'
        '400':
          $ref: '#/responses/Error400Invalid'
        '401':
          $ref: '#/responses/Error401Unauthorized'

  '/cameras/{camera_id}/':
    get:
      summary: Retrieve camera
      tags:
        - camera
      parameters:
        - $ref: '#/parameters/cameraId'
        - name: refresh_rate
          in: query
          type: number
          format: float
          minimum: 1
          required: false
          description: 'Set a maximum number of keyframes sent in MJPEG stream per second. For example if you want to
          have MJPEG stream with keyframe sent every 10 seconds, post value 0.1.'
        - name: max_width
          in: query
          type: integer
          minimum: 1
          required: false
          description: 'Maximum width of MJPEG stream and LIVE SNAPSHOT.'
        - name: max_height
          in: query
          type: integer
          minimum: 1
          required: false
          description: 'Maximum height of MJPEG stream and LIVE SNAPSHOT.'
      responses:
        '200':
          description: Camera object
          schema:
            $ref: '#/definitions/CameraObject'
        '400':
          $ref: '#/responses/Error400Invalid'
        '401':
          $ref: '#/responses/Error401Unauthorized'
        '404':
          $ref: '#/responses/Error404NotFound'

  '/cameras/{camera_id}/recording/':
    get:
      summary: General recording information
      tags:
        - recording
      parameters:
        - $ref: '#/parameters/cameraId'
      responses:
        '200':
          description: Returns general recording information.
          schema:
            $ref: '#/definitions/RecordingResponse'
        '401':
          $ref: '#/responses/Error401Unauthorized'
        '404':
          $ref: '#/responses/Error404CraNotAdded'

  '/cameras/{camera_id}/recording/timeline/':
    get:
      summary: Retrieve timeline of records for given camera
      tags:
        - recording
      description: |
        Please keep in mind that maximum length of timeline is 1 day.
      parameters:
        - $ref: '#/parameters/cameraId'
        - name: start
          in: query
          type: string
          format: date-time
          required: true
          description: 'Start time of a timeline. Example: `2016-03-19T08:00:00Z`.'
          x-example: 2017-01-01T00:00:00Z
        - name: end
          in: query
          type: string
          format: date-time
          required: true
          description: 'End time of a timeline. Example: `2016-03-19T14:00:00Z.`'
          x-example: 2017-01-01T00:00:00Z
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RecordingTimelineResponse'
        '400':
          $ref: '#/responses/Error400Invalid'
        '401':
          $ref: '#/responses/Error401Unauthorized'
        '404':
          $ref: '#/responses/Error404CraNotAdded'

  '/cameras/{camera_id}/recording/stream/':
    get:
      summary: Create and return recorded stream for a specified time
      tags:
        - recording
      parameters:
        - $ref: '#/parameters/cameraId'
        - name: start
          in: query
          type: string
          format: date-time
          required: true
          description: 'Start time of a stream. Example: `2016-03-19T08:00:00Z`.'
          x-example: 2017-01-01T00:00:00Z
        - name: end
          in: query
          type: string
          format: date-time
          required: false
          description: >
            End time of a stream. If missing, stream will play till the very end of recorded footage.
            Example: `2016-03-19T14:00:00Z.`
          x-example: 2017-01-01T00:00:00Z
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RecordingStreamResponse'
        '400':
          $ref: '#/responses/Error400Invalid'
        '401':
          $ref: '#/responses/Error401Unauthorized'
        '404':
          $ref: '#/responses/Error404CraNotAdded'

  '/recording/stream/{streamer_name}/{streamer_id}/':
    get:
      summary: Retrieve recording stream info
      tags:
        - recording
      parameters:
        - name: streamer_name
          in: path
          type: string
          required: true
          description: Streamer server name.
          x-example: rec-streamer-eu-central-1
        - name: streamer_id
          in: path
          type: string
          required: true
          description: Stream ID.
          x-example: 61c59a859e9244a19713fdfec6e50184
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RecordingStreamInfoResponse'
        '401':
          $ref: '#/responses/Error401Unauthorized'
        '404':
          $ref: '#/responses/Error404NotFound'

  '/events/':
    get:
      summary: Retrieve event list
      tags:
        - event
      description: Retrieves the list of events for the current user
      parameters:
          - name: start
            in: query
            type: string
            format: date-time
            required: false
            description: 'Example: `2017-03-07T14:00:00Z`.'
          - name: end
            in: query
            type: string
            format: date-time
            required: false
            description: 'Example: `2017-03-08T14:00:00Z`.'
          - name: limit
            in: query
            type: integer
            minimum: 1
            required: false
            description: 'Limit result set. Example: `1`.'
          - name: offset
            in: query
            type: integer
            minimum: 1
            required: false
            description: 'Return results starting at `offset`. Example: `10`.'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/EventListResponse'
        '400':
          $ref: '#/responses/Error400Invalid'
        '401':
          $ref: '#/responses/Error401Unauthorized'

  '/events/{camera_id}/':
    get:
      summary: Retrieve camera event list
      tags:
        - event
      description: 'Retrieves the list of events for the current user belonging to given camera'
      parameters:
        - $ref: '#/parameters/cameraId'
        - name: start
          in: query
          type: string
          format: date-time
          description: 'Example: `2017-03-07T14:00:00Z`.'
          required: false
        - name: end
          in: query
          type: string
          format: date-time
          description: 'Example: `2017-03-07T16:00:00Z`.'
          required: false
        - name: limit
          in: query
          type: integer
          minimum: 1
          description: 'Limit result set. Example: `1`.'
          required: false
        - name: offset
          in: query
          type: integer
          minimum: 1
          description: 'Return results starting at offset. Example: `10`.'
          required: false
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/EventListResponse'
        '400':
          $ref: '#/responses/Error400Invalid'
        '401':
          $ref: '#/responses/Error401Unauthorized'
        '404':
          $ref: '#/responses/Error404NotFound'
definitions:
  UserMeResponse:
    type: object
    title: User object
    properties:
      id:
        type: integer
        minimum: 0
        description: User ID.
      first_name:
        type: string
        description: User's first or given name.
      last_name:
        type: string
        description: User's last or family name.
      email:
        type: string
        format: email
        description: User's email.
      phone:
        type: ['string','null']
        description: User's phone.
    required:
      - id
      - email
    example:
      id: 2929
      first_name: "John"
      last_name: "Appleseed"
      email: "john@apple.com"
      phone: "+123 558 951 14"

  CameraListResponse:
    type: object
    title: Camera list
    properties:
      count:
        type: integer
        description: Count of all cameras
      next:
        type: ['string','null']
        format: uri
        description: Next page from pagination
      previous:
        type: ['string','null']
        format: uri
        description: Previous page from pagination
      results:
        type: array
        description: List of cameras owned by the user
        items:
          $ref: '#/definitions/CameraObject'
    required:
      - count
      - next
      - previous
      - results
# TODO:
#    example:
#      count: 10
#      next: 'https://api.angelcam.com/cameras/?limit=10&offset=10'
#      previous: 'https://api.angelcam.com/cameras/?limit=10&offset=0'

  CameraObject:
    type: object
    title: Camera object
    properties:
      id:
        type: integer
        minimum: 1
        description: Camera ID
      name:
        type: string
        description: Camera name
      type:       # todo camera type should be enum!
        type: string
        enum:
          - h264
          - mjpeg
        description: Camera type
      snapshot:
        x-$ref: '#/definitions/SnapshotObject'
      status:
        type: string
        enum:
          - offline
          - online
          - unknown
      live_snapshot:
        type: ['string', 'null']
        format: uri
        description: Live snapshot URL
      streams:
        type: array
        items:
          $ref: '#/definitions/StreamObject'
        description: Available camera streams
      applications:
        type: array
        items:
          $ref: '#/definitions/ApplicationObject'
    required:
      - id
      - name
      - type
      - snapshot
      - status
      - live_snapshot
      - streams
      - applications
    example:
      id: 157
      name: 'Parkside Office'
      type: 'h264'
      snapshot:
        - url:  'https://dsw4ncxjbie85.cloudfront.net/snapshot/81/y8jol6kbn0ol1gh2.jpg'
          created_at: '2017-03-29T15:41:39Z'
      status: online
      live_snapshot: "http://m1.test.angelcam.com/stream/81/snapshot.jpg?token=eyJ0aW1lIjogMTQ5NjkzNDYyODE5NjIxOCwgInRpbWVvdXQiOiAzNjAwLCAiYWxpYXMiOiAiODEifQ==.85b552be2b7f0abaa0a3b5b4f412877f8af92f691c7d0c6db6b8c517ea8f921c"
      streams:
        - format: "mjpeg"
          url: "http://m1.test.angelcam.com/stream/81/stream.mjpeg?token=eyJ0aW1lIjogMTQ5NjkzNDYyODE5NjIxOCwgInRpbWVvdXQiOiAzNjAwLCAiYWxpYXMiOiAiODEifQ==.85b552be2b7f0abaa0a3b5b4f412877f8af92f691c7d0c6db6b8c517ea8f921c"
          refresh_rate: 0.1
        - format: "mp4"
          url: "http://m1.test.angelcam.com/stream/81/stream.mp4?token=eyJ0aW1lIjogMTQ5NjkzNDYyODE5NjMxNiwgInRpbWVvdXQiOiAzNjAwLCAiYWxpYXMiOiAiODEifQ==.b5b4cf405cf054701a75b359f4069d2af8a102c5ffd8f33cbb560a4638c7cb71"
        - format: "hls"
          url: "http://m1.test.angelcam.com/stream/81/playlist.m3u8?token=eyJ0aW1lIjogMTQ5NjkzNDYyODE5NjQwMSwgInRpbWVvdXQiOiAzNjAwLCAiYWxpYXMiOiAiODEifQ==.8ac35b434e768e8f10161b2d74da492f5fd8a8c115c18cbb421017665acd908a"
      applications:
        - LSA
        - CRA

  SnapshotObject:
    type: object
    title: Snapshot object
    properties:
      url:
        type: string
        format: uri
        description: URL of the snapshot image
      created_at:
        type: string
        format: date-time
        description: 'The date and time when the snapshot was created for the first time'
    required:
      - url
      - created_at
    example:
      url: 'https://dsw4ncxjbie85.cloudfront.net/snapshot/157/h8yeodu1mrjtiiok.jpg'
      created_at: '2017-03-31T12:29:10Z'

  StreamObject:
    type: object
    properties:
      url:
        type: string
        format: uri
        description: Stream URL
      format:
        type: string
        enum:
          - hls
          - fmp4
          - mjpeg
      refresh_rate:
        type: number
        format: float
        description: Stream refresh rate
    required:
      - url
      - format
    example:
      url: 'http://m2-eu1.test.angelcam.com/stream/157/stream.mjpeg?token=eyJ0aW1lIjogMTQ5NjkzNDYyODE4Mjc3OCwgInRpbWVvdXQiOiAzNjAwLCAiYWxpYXMiOiAiMTU3In0%3D.d365e2a6fbdfae0bfa5b27175a6ea57de1ae31844fdcd22ff5f56da10a970d65'
      format: 'mjpeg'

  ApplicationObject:
    type: object
    properties:
      code:
        type: string
        enum:
          - LSA
          - CRA
          - VVA
          - VPA
          - TLA
    required:
      - code
    example:
      code: LSA

  RecordingResponse:
    type: object
    title: Recording information
    required:
      - status
      - retention
    properties:
      status:
        type: string
        enum:
          - READY
          - CONNECTING
          - RECORDING
          - STOPPING
          - ERROR
        description: |
            Recording status values have the following meaning:

            * `READY` - Not recording (recording is ready to be started)
            * `CONNECTING` - Recorder is trying to connect to the stream (this usually indicates camera connectivity problems; the recorder keeps trying to connect).
            * `RECORDING` - Recorder is connected to the stream and records are being created
            * `STOPPING` - Recording is stopping
            * `ERROR` - Error occurred when recording (this indicates a possible issue with Angelcam infrastructure)
      retention:
        type: string
        description: >
            Retention period in ISO 8601 duration format tells how long in past we store the footage. Example:
            P7D means 7 days.
    example:
      status: RECORDING
      retention: P7D

  RecordingTimelineResponse:
    type: object
    title: Recording timeline object
    properties:
      start:
        type: string
        format: date-time
        description: >
          Start time of timeline (the value you entered in the query parameter).
          Example: `2017-01-01T00:00:00Z`.
      end:
        type: string
        format: date-time
        description: >
          End time of timeline (the value you entered in the query parameter).
          Example: `2017-01-01T00:00:00Z`.
      segments:
        type: array
        description: Array of recording segments.
        items:
          $ref: '#/definitions/SegmentObject'
    example:
      start: '2017-01-01T00:00:00Z'
      end: '2017-01-01T03:32:19Z'
      segments:
        - start: '2017-06-09T00:00:18Z'
          end: '2017-06-09T03:25:28Z'
        - start: '2017-06-09T04:19:42Z'
          end: '2017-06-09T010:39:31Z'

  SegmentObject:
    type: object
    title: Segment object
    properties:
      start:
        type: string
        format: date-time
        description: 'Start of record segment. Example: `2017-01-01T00:00:00Z`.'
      end:
        type: string
        format: date-time
        description: 'End of record segment. Example: `2017-01-01T00:00:00Z`.'

  RecordingStreamResponse:
    type: object
    title: Recording stream object
    properties:
      url:
        type: string
        description: URL of a stream.
        example: >
          https://rec-streamer-eu-central-1.test.angelcam.com/streams/cefa6471a38f469585b46675fc992614/playlist.m3u8
      format:
        type: string
        enum:
          - hls
          - fmp4
          - mjpeg
        description: Stream format.
        example: hls
      stream_info:
        type: string
        description: URL of a recorded stream info endpoint.
        example: 'https://api.test.angelcam.com/v1/recording/stream/rec-streamer-eu-central-1/cefa6471a38f469585b46675fc992614/'
    example:
      url: 'https://rec-streamer-eu-central-1.test.angelcam.com/streams/df0600b7487a44d480217db7713720d3/playlist.m3u8'
      format: 'hls'
      stream_info: 'https://api.test.angelcam.com/v1/recording/stream/rec-streamer-eu-central-1/df0600b7487a44d480217db7713720d3/'

  RecordingStreamInfoResponse:
    type: object
    title: Recording stream information
    properties:
      current_time:
        type: string
        format: date-time
        description: Current time in a stream.
    example:
      current_time: '2017-01-01T00:00:00Z'

  EventListResponse:
    type: object
    title: Event list
    properties:
      count:
        type: integer
        minimum: 0
        description: Count of all events
      next:
        type: ['string','null']
        format: uri
        description: Next page from pagination
      previous:
        type: ['string','null']
        format: uri
        description: Previous page from pagination
      results:
        type: array
        description: List of events owned by the user
        items:
          $ref: '#/definitions/EventObject'
    required:
      - count
      - next
      - previous
      - results
    example:
      count: 10
      next: 'https://api.angelcam.com/v1/events/?limit=10&offset=10'
      previous: 'https://api.angelcam.com/v1/events/?limit=10&offset=0'
      results:
        - camera: 20
          title: Door open
          source: IFTTT
          received: '2017-01-01T00:00:16Z'
        - camera: 219
          title: Door closed
          source: IFTTT
          received: '2017-01-02T03:09:26Z'

  EventObject:
    type: object
    title: Event object
    properties:
      camera:
        type: integer
        minimum: 1
        description: Camera ID
      title:
        type: string
        description: Event title
      source:
        type: string
        description: Name of event source
      received_at:
        type: string
        description: Time when event was occurred or been received by Angelcam
    required:
      - camera
      - title
      - source
      - received_at
    example:
      camera: 20
      title: Door open
      source: IFTTT
      received: '2017-01-01T00:00:16Z'


  ErrorGeneric:
    type: object
    title: Error object
    properties:
      title:
        type: string
      detail:
        type: string
      status:
        type: integer

  Error404NotFound:
    allOf:
      - $ref: '#/definitions/ErrorGeneric'
    title: Error 404 Not Found
    example:
      title: not_found
      detail: Not Found
      status: 404

  Error401Unauthorized:
    allOf:
      - $ref: '#/definitions/ErrorGeneric'
    title: Error 401 Unauthorized
    example:
      title: not_authenticated
      detail: Authentication credentials were not provided
      status: 401

  Error400Invalid:
    type: object
    title: Error 400 Bad Request
    properties:
      title:
        type: string
      detail:
        type: object
      status:
        type: integer
    example:
      title: invalid
      detail:
        - refresh_rate:
          - 'valid number is required.'
          - 'Ensure this value is greater than 0.'
        - max_width:
          - 'valid number is required.'
          - 'Ensure this value is greater than or equal to 1.'
      status: 400

parameters:
  cameraId:
    name: camera_id
    in: path
    type: integer
    minimum: 1
    x-example: 3
    required: true
    description: Camera ID.

responses:
  Error404NotFound:
    description: The specified resource was not found
    schema:
      $ref: '#/definitions/Error404NotFound'

  Error404CraNotAdded:
    description: This camera was not find or it doesn't have enabled Cloud Recording Application (CRA).
    schema:
      $ref: '#/definitions/Error404NotFound'

  Error401Unauthorized:
    description: Missing or invalid authorization.
    schema:
      $ref: '#/definitions/Error401Unauthorized'

  Error400Invalid:
    description: Query params are invalid.
    schema:
      $ref: '#/definitions/Error400Invalid'