swagger: '2.0'
info:
  version: 1.0.0
  title: Angelcam API
  description: tbd

host: api.angelcam.com
basePath: /v1

schemes:
  - https
consumes:
  - application/json
produces:
  - application/json

tags:
  - name: user
    description: User resource
  - name: camera
    description: Camera resource
  - name: recording
    description: Recording resource

# DapperDox: use endpoint summary instead of HTTP method name
x-navigateMethodsByName: true

paths:
  /me/:
    get:
      summary: Current user info
      tags:
        - user
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/UserMeResponse'

  '/cameras/':
    get:
      summary: Retrieve camera list
      tags:
      - camera
      parameters:
        - name: limit
          in: query
          type: integer
          minimum: 1
          required: true
          description: 'Limit result set. Example: `1`.'
        - name: offset
          in: query
          type: integer
          minimum: 1
          required: true
          description: 'Return results starting at `offset`. Example: `10`.'
        - name: refresh_rate
          in: query
          type: float
          minimum: 1
          required: true
          description: '
Set a maximum number of keyframes sent in MJPEG stream per second. For example if you want to have MJPEG stream with keyframe sent every 10 seconds, post value 0.1.'
      responses:
        '200':
          description: Returns camera list.
          schema:
            $ref: '#/definitions/CameraListResponse'
        '401':
          $ref: '#/responses/Error401Unauthorized'

  '/cameras/{camera_id}/':
    get:
      summary: Retrieve camera
      tags:
        - camera
      parameters:
        - $ref: '#/parameters/cameraId'
        - name: refresh_rate
          in: query
          type: float
          minimum: 1
          required: true
          description: '
Set a maximum number of keyframes sent in MJPEG stream per second. For example if you want to have MJPEG stream with keyframe sent every 10 seconds, post value 0.1.'
      responses:
        '200':
          description: Camera object
          schema:
            $ref: '#/definitions/CameraObject'
        '401':
          $ref: '#/responses/Error401Unauthorized'

  '/cameras/{camera_id}/recording/':
    get:
      summary: General recording information
      tags:
        - recording
      parameters:
        - $ref: '#/parameters/cameraId'
      responses:
        '200':
          description: Returns general recording information.
          schema:
            $ref: '#/definitions/RecordingResponse'
        '401':
          $ref: '#/responses/Error401Unauthorized'
        '404':
          $ref: '#/responses/Error404CraNotAdded'

  '/cameras/{camera_id}/recording/timeline/':
    get:
      summary: Retrieve timeline of records for given camera
      tags:
        - recording
      description: |
        Please keep in mind that maximum length of timeline is 1 day.
      parameters:
        - $ref: '#/parameters/cameraId'
        - name: start
          in: query
          type: string
          format: date-time
          required: true
          description: 'Start time of a timeline. Example: `2016-03-19T08:00:00Z`.'
        - name: end
          in: query
          type: string
          format: date-time
          required: true
          description: 'End time of a timeline. Example: `2016-03-19T14:00:00Z.`'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RecordingTimelineResponse'
        '400':
          description: |
            Invalid request. For example if:

            * start and/or end date are not ISO 8601 format
            * length (end - start) is more than 1 day
        '401':
          $ref: '#/responses/Error401Unauthorized'
        '404':
          $ref: '#/responses/Error404CraNotAdded'

  '/cameras/{camera_id}/recording/stream/':
    get:
      summary: Create and return recorded stream for a specified time
      tags:
        - recording
      parameters:
        - $ref: '#/parameters/cameraId'
        - name: start
          in: query
          type: string
          format: date-time
          required: true
          description: 'Start time of a stream. Example: `2016-03-19T08:00:00Z`.'
        - name: end
          in: query
          type: string
          format: date-time
          required: false
          description: >
            End time of a stream. If missing, stream will play till the very end of recorded footage.
            Example: `2016-03-19T14:00:00Z.`
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RecordingStreamResponse'
        '400':
          description: |
            Invalid request. For example if:

            * start and/or end date are not ISO 8601 format
            * start time is in the future
        '401':
          $ref: '#/responses/Error401Unauthorized'
        '404':
          $ref: '#/responses/Error404CraNotAdded'

  '/recording/stream/{streamer_name}/{streamer_id}/':
    get:
      summary: Retrieve recording stream info
      tags:
        - recording
      parameters:
        - name: streamer_name
          in: path
          type: string
          required: true
          description: Streamer server name.
        - name: streamer_id
          in: path
          type: string
          required: true
          description: Stream ID.
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RecordingStreamInfoResponse'
        '400':
          description: |
            Invalid request. For example if:

            * start and/or end date are not ISO 8601 format
            * start time is in the future
        '401':
          $ref: '#/responses/Error401Unauthorized'
        '404':
          $ref: '#/responses/Error404CraNotAdded'

definitions:
  UserMeResponse:
    type: object
    title: User object
    properties:
      id:
        type: integer
        minimum: 0
        description: User ID.
      first_name:
        type: string
        description: User's first or given name.
      last_name:
        type: string
        description: User's last or family name.
      email:
        type: string
        format: email
        description: User's email.
      phone:
        type: string
        description: User's phone.
    required:
      - id
      - email
    example:
      id: 2929
      first_name: "John"
      last_name: "Appleseed"
      email: "john@apple.com"
      phone: "+123 558 951 14"

  CameraListResponse:
    type: object
    title: Camera list
    properties:
      count:
        type: integer
        description: Count of all cameras
      next:
        type: string
        format: uri
        description: Next page from pagination
      previous:
        type: string
        format: uri
        description: Previous page from pagination
      results:
        type: array
        description: List of cameras owned by the user
        items:
          $ref: '#/definitions/CameraObject'
    required:
      - count
      - next
      - previous
      - results
# TODO:
#    example:
#      count: 10
#      next: 'https://api.angelcam.com/cameras/?limit=10&offset=10'
#      previous: 'https://api.angelcam.com/cameras/?limit=10&offset=0'

  CameraObject:
    type: object
    title: Camera object
    properties:
      id:
        type: integer
        minimum: 1
        description: Camera ID
      name:
        type: string
        description: Camera name
      type:       # todo camera type should be enum!
        type: string
        enum:
          - h264
          - mjpeg
        description: Camera type
      snapshot:
        $ref: '#/definitions/SnapshotObject'
      status:
        type: string
        enum:
          - offline
          - online
          - unknown
      streams:
        type: array
        items:
          $ref: '#/definitions/StreamObject'
        description: Available camera streams
      applications:
        type: array
        items:
          $ref: '#/definitions/ApplicationObject'
    required:
      - id
      - name
      - type
      - snapshot
      - status
      - streams
      - applications
    example:
      id: 157
      name: 'Parkside Office'
      type: 'h264'
      snapshot:
        - url:  'https://dsw4ncxjbie85.cloudfront.net/snapshot/81/y8jol6kbn0ol1gh2.jpg'
        - created_at: '2017-03-29T15:41:39Z'
      status: online
      streams:
        - format: "mjpeg"
          url: "http://m1.test.angelcam.com/stream/81/stream.mjpeg?token=eyJ0aW1lIjogMTQ5NjkzNDYyODE5NjIxOCwgInRpbWVvdXQiOiAzNjAwLCAiYWxpYXMiOiAiODEifQ==.85b552be2b7f0abaa0a3b5b4f412877f8af92f691c7d0c6db6b8c517ea8f921c"
        - format: "mp4"
          url: "http://m1.test.angelcam.com/stream/81/stream.mp4?token=eyJ0aW1lIjogMTQ5NjkzNDYyODE5NjMxNiwgInRpbWVvdXQiOiAzNjAwLCAiYWxpYXMiOiAiODEifQ==.b5b4cf405cf054701a75b359f4069d2af8a102c5ffd8f33cbb560a4638c7cb71"
        - format: "hls"
          url: "http://m1.test.angelcam.com/stream/81/playlist.m3u8?token=eyJ0aW1lIjogMTQ5NjkzNDYyODE5NjQwMSwgInRpbWVvdXQiOiAzNjAwLCAiYWxpYXMiOiAiODEifQ==.8ac35b434e768e8f10161b2d74da492f5fd8a8c115c18cbb421017665acd908a"
      applications:
        - LSA
        - CRA

  SnapshotObject:
    type: object
    title: Snapshot object
    properties:
      url:
        type: string
        format: uri
        description: URL of the snapshot image
      created_at:
        type: string
        format: date-time
        description: 'The date and time when the snapshot was created for the first time'
    required:
      - url
      - created_at
    example:
      url: 'https://dsw4ncxjbie85.cloudfront.net/snapshot/157/h8yeodu1mrjtiiok.jpg'
      created_at: '2017-03-31T12:29:10Z'

  StreamObject:
    type: object
    properties:
      url:
        type: string
        format: uri
        description: Stream URL
      format:
        type: string
        enum:
          - hls
          - fmp4
          - mjpeg
    required:
      - url
      - format
    example:
      url: 'http://m2-eu1.test.angelcam.com/stream/157/stream.mjpeg?token=eyJ0aW1lIjogMTQ5NjkzNDYyODE4Mjc3OCwgInRpbWVvdXQiOiAzNjAwLCAiYWxpYXMiOiAiMTU3In0%3D.d365e2a6fbdfae0bfa5b27175a6ea57de1ae31844fdcd22ff5f56da10a970d65'
      format: 'mjpeg'

  ApplicationObject:
    type: object
    properties:
      code:
        type: string
        enum:
          - LSA
          - CRA
          - VVA
          - VPA
          - TLA
    required:
      - code
    example:
      code: LSA

  RecordingResponse:
    type: object
    title: Recording information
    required:
      - status
      - retention
    properties:
      status:
        type: string
        enum:
          - READY
          - CONNECTING
          - RECORDING
          - STOPPING
          - ERROR
        description: |
            Recording status values have the following meaning:

            * `READY` - Not recording (recording is ready to be started)
            * `CONNECTING` - Recorder is trying to connect to the stream (this usually indicates camera connectivity problems; the recorder keeps trying to connect).
            * `RECORDING` - Recorder is connected to the stream and records are being created
            * `STOPPING` - Recording is stopping
            * `ERROR` - Error occurred when recording (this indicates a possible issue with Angelcam infrastructure)
      retention:
        type: string
        description: >
            Retention period in ISO 8601 duration format tells how long in past we store the footage. Example:
            P7D means 7 days.
    example:
      status: RECORDING
      retention: P7D

  RecordingTimelineResponse:
    type: object
    title: Recording timeline object
    properties:
      start:
        type: string
        format: date-time
        description: >
          Start time of timeline (the value you entered in the query parameter).
          Example: `2017-01-01T00:00:00Z`.
      end:
        type: string
        format: date-time
        description: >
          End time of timeline (the value you entered in the query parameter).
          Example: `2017-01-01T00:00:00Z`.
      segments:
        type: array
        description: Array of recording segments.
        items:
          $ref: '#/definitions/SegmentObject'

  SegmentObject:
    type: object
    title: Segment object
    properties:
      start:
        type: string
        format: date-time
        description: 'Start of record segment. Example: `2017-01-01T00:00:00Z`.'
      end:
        type: string
        format: date-time
        description: 'End of record segment. Example: `2017-01-01T00:00:00Z`.'

  RecordingStreamResponse:
    type: object
    title: Recording stream object
    properties:
      url:
        type: string
        description: URL of a stream.
        example: >
          https://rec-streamer-eu-central-1.test.angelcam.com/streams/cefa6471a38f469585b46675fc992614/playlist.m3u8
      format:
        type: string
        enum:
          - hls
          - fmp4
          - mjpeg
        description: Stream format.
        example: hls
      stream_info:
        type: string
        description: URL of a recorded stream info endpoint.
        example: 'https://api.test.angelcam.com/v1/recording/stream/rec-streamer-eu-central-1/cefa6471a38f469585b46675fc992614/'

  RecordingStreamInfoResponse:
    type: object
    title: Recording stream information
    properties:
      current_time:
        type: string
        format: date-time
        description: Current time in a stream.
        example: '2017-01-01T00:00:00Z'

  ErrorGeneric:
    type: object
    title: Error object
    properties:
      title:
        type: string
      detail:
        type: string
      status:
        type: integer

  Error404NotFound:
    allOf:
      - $ref: '#/definitions/ErrorGeneric'
    title: Error 404 Not Found
    example:
      title: not_found
      detail: Not Found
      status: 404

  Error401Unauthorized:
    allOf:
      - $ref: '#/definitions/ErrorGeneric'
    title: Error 401 Unauthorized
    example:
      title: not_authenticated
      detail: Authentication credentials were not provided
      status: 401

parameters:
  cameraId:
    name: camera_id
    in: path
    type: integer
    minimum: 1
    required: true
    description: Camera ID.

responses:
  Error404NotFound:
    description: The specified resource was not found
    schema:
      $ref: '#/definitions/Error404NotFound'

  Error404CraNotAdded:
    description: This camera doesn't have Cloud Recording Application (CRA).
    schema:
      $ref: '#/definitions/Error404NotFound'

  Error401Unauthorized:
    description: Missing or invalid authorization.
    schema:
      $ref: '#/definitions/Error401Unauthorized'
